# Postgres database credentials

POSTGRES_HOST=your_database_host
POSTGRES_PORT=your_database_port
POSTGRES_NAME=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASS=your_database_password

REDIS_HOST=localhost
REDIS_PORT=6379

LOG_LEVEL=INFO